.share-container {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.68);
  border-radius: 4px;
}
.share-wrapper {
  padding: 20px;
}
.share-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.share-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.share-profile-text {
  border: none;
  cursor: pointer;
}
.share-profile-text:focus {
  outline: none;
}
.share-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share-options {
  display: flex;
  gap: 15px;
}
.share-option {
  display: flex;
  align-items: center;
  justify-content: center;
}
.share-icon {
  font-size: 18px;
}
.share-option-text {
  font-weight: 500px;
  font-size: 15px;
  cursor: pointer;
}
.share-button {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #008005;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
