.home-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.home-container-details{
    display: flex;
    flex: 1;
    overflow-y: auto;
    width: 100%;
    height: 100%;

}